<div class="card mt-sm-4 mb-sm-4">
  <div class="card-header">
    Search Filters
    <i class="fa fa-question-circle" tooltip="Add filters in order to narrow down the displayed logs."></i>
  </div>
  <div class="card-body">
    <form>
      <div class="row">
        <div class="col-sm">
          <div class="form-group">
            <label for="filterView">
              View
              <i class="fa fa-question-circle" tooltip="Change how the execution tree is visualized."></i>
            </label>
            <select [(ngModel)]="viewMode" (change)="applyFilters()" name="filterView" id="filterView"
                    class="form-control">
              <option value="list">List</option>
              <option value="tree">Tree</option>
            </select>
          </div>
        </div>
        <div class="col-sm">
          <label for="filterExecution">
            Execution
            <i class="fa fa-question-circle" tooltip="Choose which execution is being analyzed."></i>
          </label>
          <select [(ngModel)]="execution" (change)="applyFilters()" name="filterExecution" id="filterExecution"
                  class="form-control">
            <option [ngValue]="null">Choose Execution...</option>
            <option *ngFor="let execution of allExecutions" [ngValue]="execution">{{ execution.title }}</option>
          </select>
        </div>
        <div class="col-sm">
          <label for="filterStatus">
            Status
            <i class="fa fa-question-circle" tooltip="Choose which log status to display."></i>
          </label>

          <!-- FIXME need to figure out why the status won't stay selected... -->
          <select [(ngModel)]="filterStatus" (change)="applyFilters()" name="filterStatus" id="filterStatus"
                  class="form-control">
            <option [ngValue]="null">All statuses</option>
            <option *ngFor="let status of allStatuses" [ngValue]="status" [style.backgroundColor]="status.color">
              {{ status.name }}
            </option>
          </select>
        </div>
        <div class="col-sm">
          <div class="form-check form-check-label-height">
            <label class="form-check-label">
              <input [(ngModel)]="filterAnnotated" (change)="applyFilters()" name="filterAnnotated" id="filterAnnotated"
                     type="checkbox" class="form-check-input">
              Annotated
              <i class="fa fa-question-circle" tooltip="Only display logs which have been annotated."></i>
            </label>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-3">
          <label for="filterTags">
            Tags
            <i class="fa fa-question-circle"
               tooltip="Add tags to include in the displayed logs. You can also add values which much match for tags to be displayed."></i>
          </label>
          <select [(ngModel)]="selectedTagFilter" (change)="addTagValueFilter()" name="filterTags" id="filterTags"
                  class="form-control">
            <option [ngValue]="null">Add Tag filter...</option>
            <option *ngFor="let tag of allTags" [ngValue]="tag">{{ tag.name }}</option>
          </select>
        </div>
        <div *ngIf="filterTagValues.length > 0" class="col-sm-8">
          <div>
            Current tags
            <i class="fa fa-question-circle"
               tooltip="Only the logs that contain (even partially) any of these tag values will be displayed."></i>
          </div>
          <div>
            <div *ngFor="let tagValue of filterTagValues; let i = index" class="badge badge-secondary mr-1">
              {{ tagValue.tag.name }}
              <span *ngIf="tagValue.value !== ''"> ≈ &quot;{{ tagValue.value }}&quot;</span>
              <i (click)="removeTagValueFilter(i)" class="remove-tag-filter fa fa-remove"
                 tooltip="Remove this tag filter"></i>
            </div>
          </div>
        </div>
      </div>
    </form>
  </div>
</div>

<app-log-details (close)="setActiveLog(null)" (update)="applyFilters()"
                 [activeLog]="activeLog" [allStatuses]="allStatuses" [tagMap]="tagMap" [statusMap]="statusMap">
</app-log-details>

<div class="card">
  <div class="card-header">
    Execution Tree
    <i class="fa fa-question-circle" tooltip="Click on a log node to expand. Click on the * icon to show details."></i>
  </div>
  <div class="card-body">
    <app-tree-view *ngIf="execution !== null && viewLogs.length > 0"
                   [mode]="viewMode" [logs]="viewLogs" (detailsToggled)="setActiveLog($event)">
    </app-tree-view>
    <div *ngIf="allExecutions.length > 0 && execution !== null && viewLogs.length === 0"
         class="alert alert-info mb-0">
      <i class="fa fa-info-circle"></i>
      The search returned no results.
    </div>
    <div *ngIf="allExecutions.length > 0 && execution === null" class="alert alert-info mb-0">
      <i class="fa fa-info-circle"></i>
      Select an execution in the Search Filters in order to view its tree.
    </div>
    <div *ngIf="allExecutions.length === 0" class="alert alert-warning mb-0">
      <i class="fa fa-warning"></i>
      No executions are currently available. Please start by importing a log file in the
      <a routerLink="/data-management">Data Management</a> tab.
    </div>
  </div>
</div>
