<div class="card mt-sm-4">
  <div class="card-header">
    Data Management
  </div>
  <div class="card-body">
    <p>Import a log file in order to view the execution tree in the
      <a routerLink="/execution-tree">Execution Tree</a> tab.</p>
    <p>Export a log file in order to save the annotations that were made when viewing the tree.</p>

    <label class="btn btn-primary btn-file">
      <i class="fa fa-upload"></i>
      Import
      <input type="file" (change)="handleFileImport($event)">
    </label>
    <button class="btn btn-primary">
      <i class="fa fa-download"></i>
      Export
    </button>
    <button (click)="removeAllData()" class="btn btn-danger">
      <i class="fa fa-remove"></i>
      Delete all data
    </button>
    <button (click)="generateTestData()" class="btn btn-secondary">
      <i class="fa fa-rebel"></i>
      Generate test data
    </button>
  </div>
</div>
