<nav class="navbar navbar-expand-md navbar-dark bg-dark">
  <a class="navbar-brand" href="#">Intuitree</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#mainNavigation"
          aria-controls="mainNavigation" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="mainNavigation">
    <ul class="navbar-nav mr-auto">
      <li *ngFor="let item of navItems" class="nav-item">
        <a [routerLink]="'/' + item.slug" class="nav-link" [ngClass]="{'active': item.slug === currentNavSlug}">
          {{ item.title }}
        </a>
      </li>
    </ul>
  </div>
</nav>
