svg {
  width: 100%;
}

// Selector to allow to target D3-generated (which Angular doesn't generate itself) DOM elements
:host ::ng-deep {
  // TODO taken directly from example, adapt if needed
  .node rect {
    cursor: pointer;
    fill: #fff;
    fill-opacity: 0.5;
    stroke: #888;
    stroke-width: 1.5px;
  }

  .node text {
    font: 10px sans-serif;
    pointer-events: none;
  }

  .link {
    fill: none;
    stroke: #AAA;
    stroke-width: 1.5px;
  }
  // END
}
